<section class="formación docente"> 
    <div class="container text-center" style="background-color: #f1f1fb; padding: 2% 2%; border-radius: 10px;">
      <div class="row row-cols-1">
        <div class="col">        
        <h2 style="color: darkslateblue">AYUDANTÍA DOCENTE</h2>
        <div class="col" style="color: midnightblue;">Cátedra de Dibujo I, Nivel II, Carrera de Licenciatura en Artes Visuales. Facultad de Artes. Universidad Nacional de Córdoba, Argentina. Años 2013 y 2014</div>
        
      </div>
      </div>
    </div>  
  </section>
