<nav class="navbar navbar-expand-lg bg-negro">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="assets/images/logoargprog.png" alt="logo Argentina programa" class="w-50">
        </a>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a href="https://github.com" target="_blank"><i class="fa-brands fa-github fa-2x text-white"></i></a></li>
            <li class="list-group-item"><a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin fa-2x text-white"></i></a></li>
            <li class="list-group-item"><a href="https://www.instagram.com/ntorres_m/" target="_blank"><i class="fa-brands fa-instagram fa-2x text-white"></i></a></li>
            <li class="list-group-item">
                                  
                    <i data-bs-toggle="modal" data-bs-target="#loginModal" class="fa-solid fa-2x fa-user-lock text-white"></i>
                 </li>
          </ul>    
    </div>
  </nav>

  <app-login></app-login>


