<!--Inicio Modal certificados  -->
<div class="modal fade" id="editorcertificadosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Certificados</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
              <div class="mb-3 row">
                <label for="inputCertificados" class="col-sm-2 col-form-label">Descripción</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputCertificados">
                </div>
              </div>
              <div class="mb-9 row">
                <label for="inputCertificado1" class="col-sm-3 col-form-label">Certificado 1</label>
                <div class="col-sm-9">
                  <input type="file"  class="form-control" id="inputCertificado1">
                </div>
              </div>
              <div class="mb-9 row">
                <label for="inputCertificado2" class="col-sm-3 col-form-label">Certificado 2</label>
                <div class="col-sm-9">
                  <input type="file"  class="form-control" id="inputCertificado2">
                </div>
              </div>
              <div class="mb-9 row">
                <label for="inputCertificado3" class="col-sm-3 col-form-label">Certificado 3</label>
                <div class="col-sm-9">
                  <input type="file"  class="form-control" id="inputCertificado3">
                </div>
              </div>
              <div class="mb-9 row">
                <label for="inputCertificado4" class="col-sm-3 col-form-label">Certificado 4</label>
                <div class="col-sm-9">
                  <input type="file"  class="form-control" id="inputCertificado4">
                </div>
              </div>
              <div class="mb-9 row">
                <label for="inputCertificado5" class="col-sm-3 col-form-label">Certificado 5</label>
                <div class="col-sm-9">
                  <input type="file"  class="form-control" id="inputCertificado5">
                </div>
              </div>
              <div class="mb-9 row">
                <label for="inputCertificado6" class="col-sm-3 col-form-label">Certificado 6</label>
                <div class="col-sm-9">
                  <input type="file"  class="form-control" id="inputCertificado6">
                </div>
              </div>
            </form>                    
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Fin Modal certificados  -->
