<app-navbardash></app-navbardash>

<app-botoneradash></app-botoneradash>

<app-footer></app-footer>

<app-logout></app-logout>
<app-editordatos></app-editordatos>
<app-editoracerca></app-editoracerca>
<app-editorexperiencia></app-editorexperiencia>
<app-editorformacionacademica></app-editorformacionacademica>
<app-editorcursos></app-editorcursos>
<app-editorcertificados></app-editorcertificados>
<app-editordocente></app-editordocente>
<app-editorhard></app-editorhard>
<app-editorsoft></app-editorsoft>
<app-editoridiomas></app-editoridiomas>

