<!-- inicio modal hard skills -->
<div class="modal fade" id="editorhardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Hard Skills</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
              <div class="mb-3 row">
                <label for="inputHard1" class="col-sm-2 col-form-label">Hard 1</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputHard1">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputHard2" class="col-sm-2 col-form-label">Hard 2</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputHard2">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputHard3" class="col-sm-2 col-form-label">Hard 3</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputHard3">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputHard4" class="col-sm-2 col-form-label">Hard 4</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputHard4">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputHard5" class="col-sm-2 col-form-label">Hard 5</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputHard5">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputHard6" class="col-sm-2 col-form-label">Hard 6</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputHard6">
                </div>
              </div>
            </form>                    
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Fin Modal hard  -->
