<section class="botonera">
    
    <div class="container text-center">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        
        <div class="col">
          <div class="p-4 h-100 p-4"><button type="button" class="btn btn-outline-primary h-100 p-4" data-bs-toggle="modal" data-bs-target="#editordatosModal"><i  class="fa-regular fa-address-card fa-4x p-3"></i><div>Datos Personales</div></button></div>
        </div>
        
        <!-- boton para editar acerca de mi -->
        <div class="col">
          <div class="p-4"><button type="button" class="btn btn-outline-primary h-100 p-4" data-bs-toggle="modal" data-bs-target="#editoracercaModal"><i class="fa-regular fa-face-smile fa-4x p-3"></i><div>Presentación</div></button></div>
        </div>
        <!-- boton para editar experiencia -->
        <div class="col">
          <div class="p-4"><button type="button" class="btn btn-outline-primary h-100 p-4" data-bs-toggle="modal" data-bs-target="#editorexperienciaModal"><i class="fa-solid fa-briefcase fa-4x p-3"></i><div>Experiencia</div></button></div>
        </div>
        <!-- boton para editar educacion -->
        <div class="col">
          <div class="p-4"><!-- Default dropend button -->
            <div class="btn-group dropend">
              <button type="button" class="btn btn-secondary dropdown-toggle h-100 p-4" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-graduation-cap fa-4x p-3"></i> <div>Educación</div>
              </button>
              <ul class="dropdown-menu">
                <!-- boton para editar formacion academica -->
                <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#editorformacionacademicaModal"><i  class="fa-solid fa-user-graduate p-2"> </i>Formación Académica</button></li>
                <!-- boton para editar cursos -->
                <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#editorcursosModal"><i class="fa-solid fa-book-open-reader p-2"></i>Cursos</button></li>
                <!-- boton para editar certificados -->
                <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#editorcertificadosModal"><i class="fa-solid fa-certificate p-2"></i>Certificados</button></li>
              </ul>
            </div>
          </div>  
            
        </div>

        <!-- boton para editar formacion docente -->
        <div class="col">
          <div class="p-4"><button type="button" class="btn btn-outline-primary h-100 p-4" data-bs-toggle="modal" data-bs-target="#editordocenteModal"><i class="fa-solid fa-person-chalkboard fa-4x p-3"></i><div>Formación Docente</div></button></div>
        </div>
        
        <!-- boton para editar skills -->
        <div class="col">
          <div class="p-4"><div class="btn-group dropend">
            <button type="button" class="btn btn-secondary dropdown-toggle h-100 p-4" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-laptop-code fa-4x p-3"></i> <div>Skills</div>
            </button>
            <ul class="dropdown-menu">
              <!-- boton para editar hard -->
              <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#editorhardModal"><i class="fa-solid fa-code p-2"></i>Hard</button></li>
              <!-- boton para editar soft -->
              <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#editorsoftModal"><i class="fa-solid fa-person-rays p-2"></i>Soft</button></li>
              <!-- boton para editar idiomas -->
              <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#editoridiomasModal"><i class="fa-solid fa-earth-americas p-2"></i>Idiomas</button></li>
            </ul>
          </div>
        </div>  
        </div>
        
        
      </div>
    </div>
   </section> 

   

   
