<section class="experiencia"> 

    <div class="container text-center" style="background-color: #f1f1fb; padding: 2% 2%; border-radius: 10px;" >
        <div class="row">
          <div class="col">
            <h2 style="color: darkslateblue" >EXPERIENCIA</h2>
            <ul class="list-group list-group-flush">
              <li *ngFor="let experiencia of experiencias" class="list-group-item"  style="color: midnightblue;">{{experiencia.descripcion}}</li>
                       
            </ul>
          </div>
          
        </div>
    </div>
        
        
  </section>
