<!--Inicio Modal Cursos  -->
<div class="modal fade" id="editorcursosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Cursos</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
              <div class="mb-3 row">
                <label for="inputCurso1" class="col-sm-2 col-form-label">Curso 1</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputCurso1">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputCurso2" class="col-sm-2 col-form-label">Curso 2</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputCurso2">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputCurso3" class="col-sm-2 col-form-label">Curso 3</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputCurso3">
                </div>
              </div>
            </form>                    
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Fin Modal Cursos  -->
