<!-- inicio modal soft skills -->
<div class="modal fade" id="editorsoftModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Soft Skills</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
              <div class="mb-3 row">
                <label for="inputSoft1" class="col-sm-2 col-form-label">Soft 1</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputSoft1">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputSoft2" class="col-sm-2 col-form-label">Soft 2</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputSoft2">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputSoft3" class="col-sm-2 col-form-label">Soft 3</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputSoft3">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputSoft4" class="col-sm-2 col-form-label">Soft 4</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputSoft4">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputSoft5" class="col-sm-2 col-form-label">Soft 5</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputSoft5">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputSoft6" class="col-sm-2 col-form-label">Soft 6</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputSoft6">
                </div>
              </div>
              
            </form>
                                
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Fin Modal soft  -->
