<!--Inicio Modal Formacion docente  -->
<div class="modal fade" id="editordocenteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Formación Docente</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
              <div class="mb-3 row">
                <label for="inputDocente" class="col-sm-2 col-form-label">Formación 1</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputDocente">
                </div>
              </div>
            </form>  
                                
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Fin Modal Formación Docente  -->
