<!--Inicio Modal Acerca  -->
  <div class="modal fade" id="editoracercaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Acerca de mí</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
              <div class="mb-9 row">
                <label for="inputBanner" class="col-sm-3 col-form-label">Banner</label>
                <div class="col-sm-9">
                  <input type="file"  class="form-control" id="inputBanner">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputAcercademi" class="col-sm-2 col-form-label">Acerca de mí</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputAcercademi">
                </div>
              </div>
            </form>                    
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Fin Modal Acerca  -->
